PORT=8002
MONGO_URI=mongodb+srv://aashikamajhi11_db_user:aashika11@cluster0.ymi50ui.mongodb.net/Attendance_DB?appName=Cluster0
JWT_SECRET=Smart_Attendance_JWT_Secret
JWT_EXPIRE=25m
JWT_REFRESH_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=uqzzxekc
CLOUDINARY_API_KEY=787522918387255
CLOUDINARY_API_SECRET=LFN0g4jJLAnuDF9G3VKTbYfgaZs
FACE_MATCH_THRESHOLD=0.45
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=majhiaashika22@gmail.com
EMAIL_PASS=bbydxvvxwcvjwdvr